:root {
  /* Cores Principais */
  --color-black: #0B0B0B;
  --color-black-soft: #1F1F1F;
  --color-orange: #FF8C1A;
  --color-yellow: #FFC857;
  --text-color: #ffff;

  /* Font */
  --font-family: 'Arial', sans-serif;
}

