/* Palaeta de Cores e Fontes*/
:root {

/* Alto Nívewl */
  --Branco: #ffffff;
  --Laranja: #FF8C1A;
  --Amarelo: #FFC857;

  /* Baixo Nível */
  --Black: #0B0B0B;
  --Black-Soft: #1F1F1F;

}

/* Semantica */
:root {

  /* Fundos */
  --color-background: var(--Black);
  --color-background-soft: var(--Black-Soft);

  /* Texto */
  --color-text: var(--Branco);

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-soft);
}