:root {
    /* Cores */
    --color-branco:FFFFFF;
    --color-laranja:FF8C1A;
    --color-amarelo:FFC857;

    --color-black:0B0B0B;
    --color-black-soft:1F1F1F;
    /* Fundo */
    --color-background: var(--color-black);
    --color-original-background: var(--color-branco);
}